* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 1px;
}

.Background {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 1);
    display: flex;
    justify-content: center;
    align-items: center;

    .Container {
        width: 450px;
        box-shadow: -12px 13px 31px -7px rgba(181, 172, 181, 1);
        background-color: rgba(53, 50, 50, 0.5);
        display: flex;
        flex-direction: column;
        border-radius: 16px;
        padding: 32px 64px;

        h1 {
            text-align: center;
            color: #fff;
            margin-bottom: 32px;
        }

        p {
            text-align: center;
            color: rgb(220, 215, 215);
            display: block;
            margin-bottom: 7px;
        }

        label {
            color: #fff;
            margin-bottom: 8px;
        }

        input {
            height: 1.9rem;
            padding: 2px;
            width: 100%;
            font-size: 16px;
            border-radius: 5px;
            border: none;
            margin-bottom: 10px;
            color: #fff;
            background-color: rgb(80, 76, 76);
        }

        button {
            display: block;
            margin: 16px 0;
            border-radius: 5px;
            width: 100%;
            padding: 8px;
            font-size: 16px;
            font-weight: bold;
        }

        a {
            color: aquamarine;
        }

        .rememberMe {
            position: relative;

            input {
                height: 15px;
                width: 15px;
                padding: 5px;
            }

            label {
                text-align: left;
                color: #fff;
            }

            a {
                color: aquamarine;
                right: 0;
                position: absolute;
                text-align: right;
            }
        }

    }
}